<!-- setting specific meta tags for page tab -->
<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]}-Thank you for your order" %>

<div class="confirmation-page-container">
  <div class="col-xs-12 offset-1">
  <div class="order-table">
    <p style="font-size: 25px; letter-spacing: 8px; font-weight: bold;">Thank you for purchasing from <strong>KelX</strong></p>
    <br>
    <p style="letter-spacing: 4px; color: gray;">Your order is being processed and will arrive very soon</p>
    <p style="letter-spacing: 4px; color: gray;">We are confident that you will love your new outfit!</p>
    <br>
    <p style="letter-spacing: 4px; color: gray;">If you have any issues, please do not hesitate to contact us</p>
    <h1>Your Order Details</h1>
    <div class="order-table-section">
      <div class="cart-table-header">
        <div class="row">
          <div class="col-md-2">Item</div>
          <div class="col-md-4">Description</div>
          <div class="col-md-2 text-right">Quantity</div>
          <div class="col-md-2 text-right">Price</div>
        </div>
      </div>
      <% @order.order_items.each do |item| %>
      <div class="row cart-table-row">
        <div class="col-md-2">
          <%=  link_to product_path(item.product_id) do %>
            <div class="cart-image-container">
            <img class= "cart-image" src=<%= cl_image_path item.product.photo %> alt="Image of selected clothing item">
            </div>
          <% end %>
        </div>
        <div class="col-md-4"><%= item.product.description %></div>
        <div class="col-md-2 text-right"><%= item.quantity %></div>
        <div class="col-md-2 text-right"><%= humanized_money_with_symbol(item.product.sale_price * item.quantity) %></div>
      </div>
    <% end %>
      <div class="row sub-total-row" style="font-size: 20px;">
        <div class="col-md-8 text-right">Subtotal</div>
        <div class="col-md-2 text-right"><%= humanized_money_with_symbol @order.amount %></div>
      </div>
    </div>
    <br>

    <div class="button-back" style=" text-align: center;">
    <%= link_to products_path, class: 'back-recommedation-button btn btn-danger shaded-rounded-btn' do %><span class="glyphicon glyphicon-menu-left" style="font-size: 16px;"></span>BACK TO RECOMMENDATIONS<% end %>
    </div>
  </div>
</div>
