<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]}-Your shipping details" %>

<div class="shipping-main-wrapper"">
  <div class="shipping-page-container">
  <div class="shipping-heading style="margin-top: 143px;">
    <h1>Shipping Details</h1>
    <p>Enter the details you'd like to get your products shipped to.</p>
  </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="form">
          <%= simple_form_for([current_user.profile, @shipping_address], defaults: { input_html: { class: 'form-control' }}) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <%= f.input :number, label: 'Number' %>
          </div>
          <div class="form-group">
            <%= f.input :street %>
          </div>
          <div class="form-group">
            <%= f.input :suburb %>
          </div>
          <div class="form-group">
            <%= f.input :post_code %>
          </div>
          <div class="form-group">
            <%= f.input :city %>
          </div>
          <div class="form-group">
            <%= f.input :state %>
          </div>
          <div class="form-group">
            <%= f.input :special %>
          </div>
            <div class="ctas-shipping-page">
              <div class="update-address">
                <%= f.button :submit, class: 'small-submit-button btn btn-default' %>
              </div>
              <div class="submit-path">
                <%= link_to orders_path, method: :post do %>
                <%= submit_tag 'NEXT ›', class: 'btn-group-lg btn-danger btn-lg small-submit-button'%>
                <% end %>
              </div>
            </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
