<h1>Shipping Details</h1>

<div class="main-wrapper"">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form">
          <%= simple_form_for([current_user.profile, @shipping_address]) do |f| %>
          <%= f.error_notification %>
          <%= f.input :number %>
          <%= f.input :street %>
          <%= f.input :suburb %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :special %>
          <%= f.button :submit %>
          <% end %>
          <%= form_tag orders_path do %>
          <%= submit_tag 'Checkout', class: 'btn btn-primary'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>