<h1>Kel-X Shopping Cart</h1>
<p>All Items in your cart</p>


  <% @cart_items.each do |cart_item| %>
    <p>Quantity: <%= cart_item.quantity %></p>
    <p>Description: <%= cart_item.product.description %></p>
    <p>SalePrice(cents): <%= cart_item.product.sale_price_cents %></p>
    <p>GRID ITEM(image)<%= link_to "Show Product", product_path(cart_item.product_id) %></p>
    <%= link_to "Delete Cart Item", cart_item_path(cart_item), :method => :delete, :confirm => "Are you sure?", class: 'btn btn-danger' %>
  <% end %>

