
<div class="shopping-cart-page-wrapper">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="cart-page-main">
        <div class="cart-page-welcome">
          <h2>Your Kel-X Shopping Cart</h2>
        </div>

        <div class="cart-table">
          <% if @cart_items_tops != [] %>
          <h3>TOPS</h3>
          <div class="cart-table-section">
            <div class="cart-table-header">
              <div class="row">
                <div class="col-md-2">Item</div>
                <div class="col-md-4">Description</div>
                <div class="col-md-2 text-right">Quantity</div>
                <div class="col-md-2 text-right">Price</div>
                <div class="col-md-2">Action</div>
              </div>
            </div>
            <% @cart_items_tops.each do |top| %>
            <div class="row cart-table-row">
              <div class="col-md-2">
                <%=  link_to product_path(top.product_id) do %>
                  <div class="cart-image-container">
                  <img class= "cart-image" src=<%= cl_image_path top.product.photo %> alt="Image of selected clothing item">
                  </div>
                <% end %>
              </div>
              <div class="col-md-4"><%= top.product.description %></div>
              <div class="col-md-2 text-right"><%= top.quantity %></div>
              <div class="col-md-2 text-right"><%= humanized_money_with_symbol(top.product.sale_price * top.quantity) %></div>
              <div class="col-md-2"><%= link_to "Remove", cart_item_path(top), :method => :delete, :confirm => "Are you sure?", class: 'btn btn-default shaded-rounded-btn' %></div>
            </div>
          <% end %>
            <div class="row sub-total-row">
              <div class="col-md-8 text-right">Subtotal</div>
              <div class="col-md-2 text-right"><%= humanized_money_with_symbol(@sub_total_tops)%></div>
            </div>
          </div>
          <% end %>

          <% if @cart_items_bottoms != [] %>
          <h3>BOTTOMS</h3>
          <div class="cart-table-section">
            <div class="cart-table-header">
              <div class="row">
                <div class="col-md-2">Item</div>
                <div class="col-md-4">Description</div>
                <div class="col-md-2 text-right">Quantity</div>
                <div class="col-md-2 text-right">Price</div>
                <div class="col-md-2">Action</div>
              </div>
            </div>
            <% @cart_items_bottoms.each do |bottom| %>
            <div class="row cart-table-row">
              <div class="col-md-2">
                <%=  link_to product_path(bottom.product_id) do %>
                  <div class="cart-image-container">
                  <img class= "cart-image" src=<%= cl_image_path bottom.product.photo %> alt="Image of selected clothing item">
                  </div>
                <% end %>
              </div>
              <div class="col-md-4"><%= bottom.product.description %></div>
              <div class="col-md-2 text-right"><%= bottom.quantity %></div>
              <div class="col-md-2 text-right"><%= humanized_money_with_symbol(bottom.product.sale_price * bottom.quantity) %></div>
              <div class="col-md-2"><%= link_to "Remove", cart_item_path(bottom), :method => :delete, :confirm => "Are you sure?", class: 'btn btn-default shaded-rounded-btn' %></div>
            </div>
          <% end %>
            <div class="row sub-total-row">
              <div class="col-md-8 text-right">Subtotal</div>
              <div class="col-md-2 text-right"><%= humanized_money_with_symbol(@sub_total_bottoms)%></div>
            </div>
          </div>
          <% end %>
          <div class="cart-cta-section">
            <div class="cart-page-back-to-recs">
              <%= link_to products_path do %><span class="glyphicon glyphicon-menu-left arrow-glyph-btn-small"></span>BACK TO RECOMMENDATIONS<% end %>
            </div>
            <div class="cart-table-footer"><span class= "sum-total-text">Sum Total:</span><%= humanized_money_with_symbol(@sum_total)%>
            <%= link_to edit_profile_shipping_address_path, class: 'btn-group-lg btn-danger btn-lg small-submit-button' do %>CHECKOUT <span class="glyphicon glyphicon-menu-right arrow-glyph-btn-small"></span>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
