<!-- setting specific meta tags for page tab -->
<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]}-Recommended for you" %>
<!-- setting specific meta tags external sites -->
<% content_for :meta_description, "#{DEFAULT_META["meta_product_name"]}-Recommended for you" %>



<style>
@import url('https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet');
</style>

<div class="wrapper-index">
  <div class="page-title" style="padding-top: 94px; font-size: 57px;">
    <h1>KELX RECOMMENDS FOR YOU</h1>
  </div>

  <div class="shirts-title"">
    <h2>SHIRTS</h2>
  </div>

  <div class="container" style="padding-top: 60px; padding-bottom: 30px;">
    <div class="row">
    <% @filtered_products_tops.first(3).each do |product| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%=  link_to(product) do %>
          <div class="container-card">
            <div class="card-index" style="background-image: url(<%= cl_image_path(product.photo, :width=>360, :height=>500, :gravity=>"face:center", :crop=>"fill")%>); height: 500px; box-shadow: 2px 2px 2px #c1bfbf;
            ">
              <div class="card-description">
                <p style="font-family: 'Cabin', sans-serif; width: 339px;"><%=  (product.description) %> </p>
                <p style="font-family: 'Cabin', sans-serif; font-size: 30px;"><%=  humanized_money_with_symbol(product.sale_price) %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="pants-title">
    <h2>PANTS</h2>
  </div>

  <div class="container" style="padding-top: 60px; padding-bottom: 206px;">
    <div class="row">
      <% @filtered_products_bottoms.first(3).each do |product| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%=  link_to(product) do %>
          <div class="container-card">
            <div class="card-index" style="background-image: url(<%= cl_image_path(product.photo, :width=>360, :height=>500, :gravity=>"auto", :crop=>"fill")%>); height: 500px; box-shadow: 2px 2px 2px #c1bfbf;
            ">
              <div class="card-description" >
                <p style="font-family: 'Cabin', sans-serif; width: 339px;"><%=  (product.description) %> </p>
                <p style="font-family: 'Cabin', sans-serif; font-size: 30px;"><%=  humanized_money_with_symbol(product.sale_price) %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>








