
<div class="main-wrapper-product-index">
  <div class="page-title">
    <h1>Kelx Recommends for you</h1>
  </div>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%=  link_to(product) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path product.photo%>);">
          <div class="card-category"><%= product.brand.name %></div>
          <div class="card-description">
            <p><%= product.description %></p>
            <p><%=  humanized_money_with_symbol(product.sale_price) %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>










