
<div class="main-wrapper-product-index">
  <h1>Kelx Recommends for you</h1>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path product.photo%>);">
          <div class="card-category"><%= product.brand.name %></div>
          <div class="card-description">
            <p><%= product.description %></p>
            <p><%=  humanized_money_with_symbol(product.sale_price_cents) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>











<!--   <h3>TO DO</h3>
  <ul>
    <li>This page should show all recommendations for the user in a cards grid</li>
    <li>User should be able to filter by category</li>
  </ul>

  <h4>All Recommendations</h4>

  <% @products.each do |product| %>
    <p>Description: <%= product.description %></p>
    <p>Product Brand: <%= product.category %></p>
    <p>Product Brand: <%= product.brand.name %></p>
    <p>GRID ITEM(image)<%= link_to "Show Product", product_path(product)%></p>
  <% end %>
</div> -->

