<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KelX</title>
  </head>

  <body>

    <!-- navbar -->
<!--     this if statement is for not showing navbar in survey page -->
    <% if content_for?(:navbar) %>
    <%= yield(:navbar) %>
    <% else %>
    <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>

    <!-- footer -->
<!--     this if statement is for not showing footer in survey page -->
    <% if content_for?(:footer) %>
    <%= yield(:footer) %>
    <% else %>
    <%= render 'shared/footer' %>
    <% end %>



    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "logo.png" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
